.width-100{
    width: 100%;
}
.h-100{
    height: 100%;
}

.main-wrapper{
    overflow: hidden;
}
.main-content{
    overflow:hidden;
}


aside ul li a{
    text-decoration: none;
}
.navbar {
    width: 250px;
    flex-shrink: 0;
}
.navbar .navbar-wrap{
    padding: 0px 20px;
}
.navbar h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.navbar .navbar-items a{
    display: flex;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.8rem;
}
.fix-height{
    height: 3rem;    
}
.main-display-content{
    overflow: auto;
    background-color: #f5f4ef;
}
.main-header{
    background-color:  #f5f4ef;
}
.navbar .navbar-items a.active-link{
    background-color: aqua;
}