<!-- <h1>{{showData | json}}</h1> -->
<div class="container form-create">
    <div class="resume">
        <div class="header row space-between">
            <div class="main-details">
                <h1>{{showData.name}}</h1>
                <h5>{{showData.designation}}</h5>
            </div>
            <div class="colm">
                <button>download pdf</button>
                <a href="mailto@xyz.com">{{showData.email}}</a>
                <h5 class="sub-title phone">{{showData.number}}</h5>
            </div>
        </div>
        <div class="row padding-tb border-bottom">
            <div class="details-title wd-250">
                <em>Profile</em>
            </div>
            <div class="details grow">
                <p>
                {{showData.profile}}</p>
            </div>
        </div>
        <div class="row padding-tb border-bottom">
            <div class="details-title wd-250">
                <em>skill</em>
            </div>
            <div class="details skill wd-100">
                <div class="row">
                    <div class="skill-list">
                        <h5 class="sub-title"> {{showData.skill.skills}}</h5>
                        <p class="skill-explain">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus adipisci
                            quas atque saepe repellat in?</p>
                    </div>
                    <div class="skill-list">
                        <h5 class="sub-title">Wengb Designig</h5>
                        <p class="skill-explain">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus adipisci
                            quas atque saepe repellat in?</p>
                    </div>
                    <div class="skill-list">
                        <h5 class="sub-title">Web Designig</h5>
                        <p class="skill-explain">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus adipisci
                            quas atque saepe repellat in?</p>
                    </div>
                </div>
            </div>
    
        </div>
        <div class="row padding-tb border-bottom">
            <div class="details-title wd-250">
                <em>Technincal</em>
            </div>
            <div class="technical wd-100">
                <div class="technical skill wd-100">
                    <div class="row space-between border-bottom">
                        <h5 class="sub-title">xhtml</h5>
                        <h5 class="sub-title">xhtml</h5>
                        <h5 class="sub-title">xhtml</h5>
                    </div>
                    <div class="row space-between border-bottom">
                        <h5 class="sub-title">xhtml</h5>
                        <h5 class="sub-title">xhtml</h5>
                        <h5 class="sub-title">xhtml</h5>
                    </div>
                    <div class="row space-between">
                        <h5 class="sub-title">xhtml</h5>
                        <h5 class="sub-title">xhtml</h5>
                        <h5 class="sub-title">xhtml</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding-tb border-bottom">
            <div class="details-title wd-250">
                <em>Exeperence</em>
            </div>
            <div class="exeperence wd-100">
                <div class="row space-between border-bottom">
                    <div class="exp-details">
                        <h5 class="sub-title">facebook</h5>
                        <p>deaials</p>
                        <p>explain</p>
                    </div>
                    <div class="exp-period">
                        <p>2005-2007</p>
                    </div>
    
                </div>
                <div class="row space-between ">
                    <div class="exp-details">
                        <h5 class="sub-title">facebook</h5>
                        <p>deaials</p>
                        <p>explain</p>
                    </div>
                    <div class="exp-period">
                        <p>2005-2007</p>
                    </div>
    
                </div>
    
    
            </div>
        </div>
        <div class="row padding-tb border-bottom">
            <div class="details-title wd-250">
                <em>Education</em>
            </div>
            <div class="Education wd-100">
                <h5 class="sub-title">indain Univercity</h5>
                <p>
                    dual major
                </p>
            </div>
        </div>
        <div class="footer padding-tb">
            <p>{{showData.email}}{{showData.number}}</p>
        </div>
    
    </div>
    

</div>