<!-- patient dashbord -->
<div class="row g-4">
    <div class="col-sm-12 col-lg-7">
        <div class="card rounded p-4 border">
            <h5>Hello Dr.Virat, <span>Good Morning</span></h5>
            <p>have a nice day and don't forget to take care of your health!</p>
        </div>
    </div>
    <div class="col-sm-12 col-lg-5">
        <div class="card-section rounded d-flex overflow-hidden h-100 border py-3">
            <div class="card card-pharmacy d-flex align-items-center col-6 px-4 border-end">
                <div class="card-body">
                    <figure class="icons"></figure>
                    <h5 class="pharmacies-count">
                        45
                    </h5>
                    <h5>Pharmacies</h5>
                </div>
            </div>
            <div class="card card-patients d-flex align-items-center col-6 px-md-4 py-sm-5 py-md-0">
                <div class="card-body">
                    <figure class="icons"></figure>
                    <h5 class="patients-count">
                        58
                    </h5>
                    <h5>Patients</h5>
                </div>
            </div>
        </div>        
    </div>

    <!--created-prescription:start-->
    <div class="col-sm-12 col-xl-7">
        <div class="created-priscription-list border rounded">
            <div class="header-pharmacy d-flex justify-content-between border-bottm px-4 py-4 border-bottom">
                <h6>Created Prescription</h6>
                <a href="#">View all</a>
            </div>
            <div class="pharmacy-list">
                <div class="row p-4">
                    <div class="col-8 item-details d-flex align-items-center">
                        <figure class="phramacy-image mb-0">
                            <img src="../../../assets/images/img_avatar.png" alt="pharmacy iamge">
                        </figure>
                        <div class="overflow-hidden ps-3">
                            <h6 class="fw-bold pharmacy-name mb-0 text-truncate">
                                Diarrhea, Fever
                            </h6>
                            <p class="mb-0">DR. Virat Dube</p>
                        </div>
                    </div>
                    <div class="col-4 pharmacy-contact text-end">
                        <p class="mb-0">12:30 PM</p>
                    </div>
                </div>
                <div class="row p-4">
                    <div class="col-8 item-details d-flex align-items-center">
                        <figure class="phramacy-image mb-0">
                            <img src="../../../assets/images/img_avatar.png" alt="pharmacy iamge">
                        </figure>
                        <div class="overflow-hidden ps-3">
                            <h6 class="fw-bold pharmacy-name mb-0 text-truncate">
                                Diarrhea, Fever
                            </h6>
                            <p class="mb-0">DR. Virat Dube</p>
                        </div>
                    </div>
                    <div class="col-4 pharmacy-contact text-end">
                        <p class="mb-0">12:30 PM</p>
                    </div>
                </div>
                <div class="row p-4">
                    <div class="col-8 item-details d-flex align-items-center">
                        <figure class="phramacy-image mb-0">
                            <img src="../../../assets/images/img_avatar.png" alt="pharmacy iamge">
                        </figure>
                        <div class="overflow-hidden ps-3">
                            <h6 class="fw-bold pharmacy-name mb-0 text-truncate">
                                Diarrhea, Fever
                            </h6>
                            <p class="mb-0">DR. Virat Dube</p>
                        </div>
                    </div>
                    <div class="col-4 pharmacy-contact text-end">
                        <p class="mb-0">12:30 PM</p>
                    </div>
                </div>
               
            </div>
         </div>
    </div>
    <!--created-prescription:end-->

    <!--Prescription-status:start-->
    <div class="col-sm-12 col-xl-5">
        <div class="created-priscription-list border rounded">
            <div class="header-pharmacy d-flex justify-content-between border-bottm px-4 py-4 border-bottom">
                <h6 class="fw-bold">Prescription Status<span class="fw-light">.Sent for Approval</span></h6>
                <a href="#">View all</a>
            </div>
            <div class="pharmacy-list">
                <div class="row p-4">
                    <div class="col-6 item-details d-flex align-items-center">
                        <figure class="phramacy-image mb-0">
                            <img src="../../../assets/images/img_avatar.png" alt="pharmacy iamge">
                        </figure>
                        <div class="overflow-hidden ps-3">
                            <h6 class="fw-bold pharmacy-name mb-0 text-truncate">
                                Diarrhea, Fever
                            </h6>
                            <p class="mb-0">DR. Virat Dube</p>
                        </div>
                    </div>
                    <div class="col-2 pharmacy-contact">
                        <p class="mb-0"><span class="text-danger">Pending</span></p>
                    </div>
                    <div class="col-4 pharmacy-contact text-end">
                        <p class="mb-0"><span class="text-danger">12:40PM</span></p>
                    </div>
                </div>
                <div class="row p-4">
                    <div class="col-6 item-details d-flex align-items-center">
                        <figure class="phramacy-image mb-0">
                            <img src="../../../assets/images/img_avatar.png" alt="pharmacy iamge">
                        </figure>
                        <div class="overflow-hidden ps-3">
                            <h6 class="fw-bold pharmacy-name mb-0 text-truncate">
                                Diarrhea, Fever
                            </h6>
                            <p class="mb-0">DR. Virat Dube</p>
                        </div>
                    </div>
                    <div class="col-2 pharmacy-contact">
                        <p class="mb-0"><span class="text-danger">Pending</span></p>
                    </div>
                    <div class="col-4 pharmacy-contact text-end">
                        <p class="mb-0"><span class="text-danger">12:40PM</span></p>
                    </div>
                </div>
                <div class="row p-4">
                    <div class="col-6 item-details d-flex align-items-center">
                        <figure class="phramacy-image mb-0">
                            <img src="../../../assets/images/img_avatar.png" alt="pharmacy iamge">
                        </figure>
                        <div class="overflow-hidden ps-3">
                            <h6 class="fw-bold pharmacy-name mb-0 text-truncate">
                                Diarrhea, Fever
                            </h6>
                            <p class="mb-0">DR. Virat Dube</p>
                        </div>
                    </div>
                    <div class="col-2 pharmacy-contact">
                        <p class="mb-0"><span class="text-danger">Pending</span></p>
                    </div>
                    <div class="col-4 pharmacy-contact text-end">
                        <p class="mb-0"><span class="text-danger">12:40PM</span></p>
                    </div>
                </div>
               
            </div>
         </div>
    </div>
    <!--Prescription-status:end-->
    
    <!--Uploaded prescription:start-->
    <div class="col-sm-12 col-xl-7">
        <div class="created-priscription-list border rounded">
            <div class="header-pharmacy d-flex justify-content-between border-bottm px-4 py-4 border-bottom">
                <h6 class="fw-bold">Uploded Prescription<span class="fw-light">.by Pharmacy</span></h6>
                <a href="#">View all</a>
            </div>
            <div class="pharmacy-list">
                <div class="row p-4">
                    <div class="col-6 item-details d-flex align-items-center">
                        <figure class="phramacy-image mb-0">
                            <img src="../../../assets/images/img_avatar.png" alt="pharmacy iamge">
                        </figure>
                        <div class="overflow-hidden ps-3">
                            <h6 class="fw-bold pharmacy-name mb-0 text-truncate">
                                Diarrhea, Fever
                            </h6>
                            <p class="mb-0">DR. Virat Dube</p>
                        </div>
                    </div>
                    <div class="col-2 pharmacy-contact">
                        <p class="mb-0"><span class="text-danger">Pending</span></p>
                    </div>
                    <div class="col-4 pharmacy-contact text-end">
                        <p class="mb-0"><span class="text-danger">12:40PM</span></p>
                    </div>
                </div>
                <div class="row p-4">
                    <div class="col-6 item-details d-flex align-items-center">
                        <figure class="phramacy-image mb-0">
                            <img src="../../../assets/images/img_avatar.png" alt="pharmacy iamge">
                        </figure>
                        <div class="overflow-hidden ps-3">
                            <h6 class="fw-bold pharmacy-name mb-0 text-truncate">
                                Diarrhea, Fever
                            </h6>
                            <p class="mb-0">DR. Virat Dube</p>
                        </div>
                    </div>
                    <div class="col-2 pharmacy-contact">
                        <p class="mb-0"><span class="text-danger">Pending</span></p>
                    </div>
                    <div class="col-4 pharmacy-contact text-end">
                        <p class="mb-0"><span class="text-danger">12:40PM</span></p>
                    </div>
                </div>
                <div class="row p-4">
                    <div class="col-6 item-details d-flex align-items-center">
                        <figure class="phramacy-image mb-0">
                            <img src="../../../assets/images/img_avatar.png" alt="pharmacy iamge">
                        </figure>
                        <div class="overflow-hidden ps-3">
                            <h6 class="fw-bold pharmacy-name mb-0 text-truncate">
                                Diarrhea, Fever
                            </h6>
                            <p class="mb-0">DR. Virat Dube</p>
                        </div>
                    </div>
                    <div class="col-2 pharmacy-contact">
                        <p class="mb-0"><span class="text-danger">Pending</span></p>
                    </div>
                    <div class="col-4 pharmacy-contact text-end">
                        <p class="mb-0"><span class="text-danger">12:40PM</span></p>
                    </div>
                </div>
                <div class="row p-4">
                    <div class="col-6 item-details d-flex align-items-center">
                        <figure class="phramacy-image mb-0">
                            <img src="../../../assets/images/img_avatar.png" alt="pharmacy iamge">
                        </figure>
                        <div class="overflow-hidden ps-3">
                            <h6 class="fw-bold pharmacy-name mb-0 text-truncate">
                                Diarrhea, Fever
                            </h6>
                            <p class="mb-0">DR. Virat Dube</p>
                        </div>
                    </div>
                    <div class="col-2 pharmacy-contact">
                        <p class="mb-0"><span class="text-danger">Pending</span></p>
                    </div>
                    <div class="col-4 pharmacy-contact text-end">
                        <p class="mb-0"><span class="text-danger">12:40PM</span></p>
                    </div>
                </div>
               
            </div>
         </div>
    </div>
    <!--Uploaded prescription:end-->
    <!--my uploded prescription:start-->
    <div class="col-sm-12 col-xl-5 pb-5">
        <div class="created-priscription-list border rounded">
            <div class="header-pharmacy d-flex justify-content-between border-bottm px-4 py-4 border-bottom">
                <h6 class="fw-bold">My Uploded Prescription</h6>
                <a href="#">View all</a>
            </div>
            <div class="pharmacy-list">
                <div class="row p-4">
                    <div class="col-6 item-details d-flex align-items-center">
                        <figure class="phramacy-image mb-0">
                            <img src="../../../assets/images/img_avatar.png" alt="pharmacy iamge">
                        </figure>
                        <div class="overflow-hidden ps-3">
                            <h6 class="fw-bold pharmacy-name mb-0 text-truncate">
                                Diarrhea, Fever
                            </h6>
                            <p class="mb-0">DR. Virat Dube</p>
                        </div>
                    </div>
                    <div class="col-2 pharmacy-contact">
                        <p class="mb-0"><span class="text-danger">Pending</span></p>
                    </div>
                    <div class="col-4 pharmacy-contact text-end">
                        <p class="mb-0"><span class="text-danger">12:40PM</span></p>
                    </div>
                </div>
                <div class="row p-4">
                    <div class="col-6 item-details d-flex align-items-center">
                        <figure class="phramacy-image mb-0">
                            <img src="../../../assets/images/img_avatar.png" alt="pharmacy iamge">
                        </figure>
                        <div class="overflow-hidden ps-3">
                            <h6 class="fw-bold pharmacy-name mb-0 text-truncate">
                                Diarrhea, Fever
                            </h6>
                            <p class="mb-0">DR. Virat Dube</p>
                        </div>
                    </div>
                    <div class="col-2 pharmacy-contact">
                        <p class="mb-0"><span class="text-danger">Pending</span></p>
                    </div>
                    <div class="col-4 pharmacy-contact text-end">
                        <p class="mb-0"><span class="text-danger">12:40PM</span></p>
                    </div>
                </div>
                <div class="row p-4">
                    <div class="col-6 item-details d-flex align-items-center">
                        <figure class="phramacy-image mb-0">
                            <img src="../../../assets/images/img_avatar.png" alt="pharmacy iamge">
                        </figure>
                        <div class="overflow-hidden ps-3">
                            <h6 class="fw-bold pharmacy-name mb-0 text-truncate">
                                Diarrhea, Fever
                            </h6>
                            <p class="mb-0">DR. Virat Dube</p>
                        </div>
                    </div>
                    <div class="col-2 pharmacy-contact">
                        <p class="mb-0"><span class="text-danger">Pending</span></p>
                    </div>
                    <div class="col-4 pharmacy-contact text-end">
                        <p class="mb-0"><span class="text-danger">12:40PM</span></p>
                    </div>
                </div>
               
            </div>
         </div>
    </div>
    <!--My uploded prescription:end-->

</div>
