header{
    width: 100%;
    background-color: #A7E9AF;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    list-style: none;
    align-items: center;
}
header ul li a{
    text-decoration: none;
    margin-left: 20px;
}
header ul li a img{
    height: 20px;
}
