<div class="container form-create">
    <div class="resume">
        <div class="header row space-between border-bottom">
            <div class="main-details">
                <h1>{{resumeWithMaxId?.name}}</h1>
                <h5 class="sub-title phone"><em>{{resumeWithMaxId?.designation}}</em></h5>
            </div>
            <div class="colm">
                <button>download pdf</button>
                <a href="mailto@xyz.com">{{resumeWithMaxId
                ?.email}}</a>
                <h5 class="sub-title phone">{{resumeWithMaxId?.number}}</h5>
            </div>
        </div>
        <div class="row padding-tb border-bottom">
            <div class="details-title wd-250">
                <em>Profile</em>
            </div>
            <div class="details grow">
                <p>
                    {{resumeWithMaxId?.profile}}
                </p>
            </div>
        </div>
        
        <!-- skill:start -->
        <div class="row padding-tb border-bottom">
            <div class="details-title wd-250">
                <em>skill</em>
            </div>
            <div class="details skill wd-100">
                <div class="row justify-spacebetween">
                    <div class="skill-list" *ngFor="let skill of resumeWithMaxId?.skill">
                        <h5 class="sub-title">{{skill?.skills}}</h5>
                        <p class="skill-explain">{{skill?.skilldetails}}</p>
                    </div>
                </div>
            </div>
    
        </div>
        <!-- skill:end -->

        <!-- technical:start -->
        <div class="row padding-tb border-bottom">
            <div class="details-title wd-250">
                <em>Technincal</em>
            </div>
            <div class="technical wd-100">
                <div class="technical skill wd-100">
                    <div class="row space-between border-bottom" >
                        <h5 class="sub-title" *ngFor="let technical of resumeWithMaxId?.technical">{{technical.technical}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding-tb border-bottom">
            <div class="details-title wd-250">
                <em>Exeperence</em>
            </div>
            <div class="wd-100 colm">
                <div class="exeperence wd-100" *ngFor="let experience of resumeWithMaxId?.experience">
                    <div class="row space-between border-bottom" >
                        <div class="exp-details" >
                            <h5 class="sub-title">{{experience?.company}}</h5>
                            <p>{{experience?.designationInCompany}}</p>
                            <p>{{experience?.detailscompny}}</p>
                        </div>
                        <div class="exp-period">
                            <p>2005-2007</p>
                        </div>
        
                    </div>
                </div>

            </div>
        </div>
        <div class="row padding-tb border-bottom">
            <div class="details-title wd-250">
                <em>Education</em>
            </div>
            <div class="Education wd-100">
                <h5 class="sub-title">{{resumeWithMaxId?.education}}</h5>
                <p>
                    {{resumeWithMaxId?.educationDescription}}
                </p>
            </div>
        </div>
        <div class="footer padding-tb">
            <p></p>
        </div>
        <div class="form-footer row align-item-center justify-spacebetween">
            <div class="cancel-btn">
                <button type="button" class="btn btn-success" routerLink="/resumebuilder/form">Add New</button>
            </div>
            
        </div>
    
    </div>
    

</div>