/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
.container{
    margin: auto;
    width: 1140px;
    background-color: #f5f5f5;
    border-top: 4px solid #000000;
    border-bottom: 4px solid #000000;
}
.row{
    display: flex;
}
.colm{
    display: flex;
    flex-direction: column;
}
.align-item-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.padding-tb{
    padding: 1.6rem 0;
}
.border-bottom{
    border-bottom: 1px solid #d1d1d1;
}
.wd-250{
    width: 200px;
    flex-shrink: 0;
}
.grow{
    flex-grow: 1;
}
.wd-100{
    width: 100%;
}
.container .resume{
    padding: 0rem 3rem;
}
.header{
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.header h1{
    padding-bottom: 0.7rem;
}
.main-details h4{
    font-size: 1.6rem;
    margin-top: 0.5rem;
}
.main-details em{
            font-size: 1.2rem;
}
.details .skill-list{
    width: 30%;
    padding: 0rem 0.8rem;
}


.form-footer {
    margin-top: 2.25rem;
    justify-content: flex-end;
} 
.form-footer .btn{
    padding:0.6rem 2rem
}

.sub-title{
    font-size: 1rem;
    padding-bottom: 1rem;
}