.title{
    text-align: center;
}
form{
    width: 70%;
    margin: auto;
}
.form-field {
    margin: 0.25rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-field label{
    font-size: 1.2rem;
    width: 200px;
}
.form-field .form-input{
    padding:0.25rem 1rem;
    flex-grow: 1;
    border: 1px solid #d1d1d1;
}
textarea.form-input{
    resize: unset;
}
.skill-group{
    display: flex;
    flex-grow: 1;
    text-align: center;
}
.row{
    display: flex;
}
.colum{
    display: flex;
    flex-direction: column;
}
.form-field .btn{
    padding: 0.25rem 0.5rem;
    border: 1px solid #d1d1d1;
}
.fix-width{
    flex-grow: 1;
}
.btn{
    padding: 0.25rem 0.5rem;
}