$primary:#002afd;
$secondary:#898989;
$info:#bfbec4;
$dark:#000000;
$bg-color:#f7f8fa;


//nav-link color
$nav-link-color:$secondary;
$link-hover-color:$primary;
$link-hover-bg-color:#eaedfc;

//border
$border-color:$info;

