html,
body {
    @extend %fix-view;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
//create some global class
ul {
    list-style-type: none;
    padding: 0;
}

.row{
    display: flex;
    flex-direction: row;
}
.colum{
    display: flex;
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-space-between{
    justify-content: space-between;
}
.justify-space-around{
    justify-content: space-around;
}
.m-auto{
    margin: 0 auto;
}
.mb-1{
    margin-bottom: 1rem;
}



.user-select,.user-input{
    padding: 0.9rem 2.5rem;
    border-radius: $radius-primary;
    font-size: 0.8rem;
    border: 0.01rem solid $border-primary;
   
}
.user-select{
    padding: 0.9rem 1rem;
    color: $color-primary;
}