//create some global class
.row{
    display: flex;
    flex-direction: row;
}
.colum{
    display: flex;
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-space-between{
    justify-content: space-between;
}
.justify-space-around{
    justify-content: space-around;
}
.m-auto{
    margin: 0 auto;
}
.mb-1{
    margin-bottom: 1rem;
}
.button{
    font-size: 0.8rem;
    font-weight: 600;
    color: #ffffff;
    padding: 0.55rem 0.5rem;
    border: none;
    border-radius: $radius-primary;
    background-color: $btn-color;
}

select,input{
    padding: 0.45rem 0.25rem;
    border-radius: 0.45rem;
    font-size: 0.8rem;
    border: 0.01rem solid $border-primary;
   
}