//crate a placeholder for fix-width and height
%fix-view{
    width: 100%;
    height: 100%;
}

//Humberger-menu sidebar
%line {
    position: relative;
    display: inline-block;
    height: 0.35rem;
    cursor: pointer;
    width: 2rem;
    transform-origin: left;
    margin-bottom: 0.15rem;
    background-color: $color-secondary;
    transition:all 0.3s ease-in-out;
}

%transtion{
    transition: all 0.3s ease-in-out;
}