//color
$color-primary:#666363;
$color-secondary:#475d9e;

//background-primary
$color-bg-primary:#f7f8fa;

//radius
$radius-primary:0.5rem;

//border-varibles
$border-primary:#a396968a;

//button-variles
$btn-color:$color-secondary;