
<div>
    <div>
        <h2>Employee details</h2>
        <input type="search">
        <button class="btn" routerLink="employeeform">Add</button>
    </div>
    <div class="employee-list">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>email</th>
                    <th>Contact No</th>
                    <th>Gender</th>
                    <th>Joining Date</th>
                    <th>Department</th>
                    <th>Action</th>
                </tr>
                <tr>
                </tr>
            </thead>
        </table>
    </div>
</div>
<router-outlet></router-outlet>
