
<div class="employee-list d-flex space-between">
    <div class="employee-display">
        <div >
            <h2 class="title">Employee details</h2>
            <div class="d-flex space-around align-center">
                <input type="search" placeholder="search employee">
                <button class="btn" routerLink="employeeform">Add Details</button>
            </div>
        </div>
        <div class="employee-details">
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>email</th>
                        <th>Contact No</th>
                        <th>Gender</th>
                        <th>Joining Date</th>
                        <th>Department</th>
                        <th colspan="2">Action</th>
                    </tr>
                    <tr *ngFor="let employee of employeeList">
                        <td>{{employee.id}}</td>
                        <td>{{employee.lastname}}</td>
                        <td>{{employee.email}}</td>
                        <td>{{employee.phone}}</td>
                        <td>{{employee.gender}}</td>
                        <td>{{employee.joiningdate}}</td>
                        <td>{{employee.department}}</td>
                        <td><button (click)="editEmployee()">edit</button></td>
                        <td><button (click)="deleteEmployee(employee.id)">delete</button></td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="employee-form">
        <router-outlet></router-outlet>
    </div>
 </div>

