<div class="main-heading bg-white d-flex align-items-center px-4">
    <h4>Employee details</h4>
</div>
<div class="employee-list mt-3">

        <div class="row d-flex justify-content-between mb-4 w-100">         
                <div class="col-8">
                    <input class="user-input form-control" appPhoneFormat type="search" placeholder="search employee" [(ngModel)]="searchtext">
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <button class="btn btn-primary" (click)="openForm(id)">Add Details</button>
                </div>         
        </div>   

        <div class="employee-details user-list">
            <table class="table" >
                <thead class="bg-dark text-white">
                    <tr>
                        <th >id</th>
                        <th>Name</th>
                        <th>email</th>
                        <th>Contact No</th>
                        <th>Gender</th>
                        <th>Joining Date</th>
                        <th>Department</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employeeList |search:searchtext ;let i = index" cdkDrag >
                        <td>{{i+1}}</td>
                        <td>{{employee.firstname +'  '+ employee.lastname}}</td>
                        <td>{{employee.email}}</td>
                        <td>{{employee.phone}}</td>
                        <td>{{employee.gender}}</td>
                        <td>{{employee.joiningdate}}</td>
                        <td>{{employee.department|getName:departmentList }}</td>
                        <td><button class="btn btn-primary" (click)="openForm(employee.id)">edit</button></td>
                        <td><button  class="btn btn-danger"(click)="deleteEmployee(employee.id)">delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    
 </div>

