.conformation-card{
    padding: 1rem;
    height: 200px;
    width: 400px;
    border-radius: 0.25rem;
    background-color: azure;
    color: black;
}
.conformation-btn{
    margin-top: 1rem;
    .button-primary{
        margin-right: 1rem;
    }
}