<div class="user-wraper">
    <!-- user-header-start -->
    <div class="user-header row justify-spacebetween">
        <h3>Users</h3>
        <div class="user-right row align-item-center">
            <div class="row">
                <h4>Client</h4>
                <select [(ngModel)]="searchId">
                    <option value="0" selected>Select Client</option>
                    <option *ngFor="let client of clients;let i = index" [value]="i+1">{{client.name}}</option>
                </select>
                <input class="search" type="search">
            </div>
            <div class="new-user">
                <button class="btn" type="button" [disabled]="userbtn" (click)="togglebtn()">+ NEW USER</button>
            </div>
        </div>
    </div>
    <!-- user-header:end -->
    <!-- user-form:strat -->
    <div class="user-form" *ngIf="userbtn">
        <form [formGroup]="userForm">
            <div class="row">
                <div class="user-form-input">
                    <input type="text" class="user-input" placeholder="first Name*" formControlName="firstname">
                    <div class="error" *ngIf="submitted || control['firstname'].touched && control['firstname'].invalid ">
                        <small class="input-error"
                            *ngIf="control['firstname'].errors && control['firstname'].errors['required']">
                            *first Name Required
                        </small>
                    </div>
                </div>

                <div class="user-form-input">
                    <input type="text" class="user-input" placeholder="Last Name*" formControlName="lastname">
                    <div class="error" *ngIf="submitted ||control['lastname'].touched && control['lastname'].invalid ">
                        <small class="input-error"
                            *ngIf="control['lastname'].errors && control['lastname'].errors['required']">
                            *last Name Required
                        </small>
                    </div>
                </div>
                <div class="user-form-input">
                    <input type="text" class="user-input" placeholder="Email*" formControlName="email">
                    <div class="error" *ngIf="submitted ||control['email'].touched && control['email'].invalid ">
                        <small class="input-error"
                            *ngIf="control['email'].errors && control['email'].errors['required']">
                            *email Required
                        </small>
                        <small class="input-error" *ngIf="control['email'].errors && control['email'].errors['email']">
                            *unvalid Email
                        </small>
                    </div>
                </div>
                <div class="user-form-input">
                    <input type="text" class="user-input" placeholder="Private Contact Number*"
                        formControlName="number">
                    <div class="error" *ngIf="submitted ||control['number'].touched && control['number'].invalid">
                        <small class="input-error" *ngIf="control['number'].errors && control['number'].errors['required']">
                            *number Required
                        </small>
                        <small class="input-error" *ngIf="control['number'].errors && control['number'].errors['minlength']">
                            *Number should be minimum 10
                        </small>
                        <small class="input-error" *ngIf="control['number'].errors && control['number'].errors['maxlength']">
                            *Number should be maximum 10
                        </small>
                    </div>
                </div>
            </div>
            <div class="row m-auto">
                <div class="user-form-input">
                    <select name="user-client" formControlName="clientname">
                        <option disabled selected>Select Client</option>
                        <option *ngFor="let client of clients;let i = index" [value]="client.id">{{client.name}}
                        </option>
                    </select>
                    <div class="error" *ngIf="submitted ||control['clientname'].touched && control['clientname'].errors && control['clientname'].errors['required']">
                        <small class="input-error" *ngIf="control['clientname'].errors && control['clientname'].errors['required']">
                            *select client
                        </small>
                    </div>

                </div>
                <div class="user-form-input">
                    <select name="user-offices" formControlName="office">
                        <option disabled selected>Select office</option>
                        <option *ngFor="let office of offices;let i = index" [value]="office.id">{{office.name}}
                        </option>
                    </select>
                    
                      <div class="error" *ngIf="submitted || control['office'].touched && control['office'].errors && control['office'].errors['required']">
                            <small class="input-error" *ngIf="control['office'].errors && control['office'].errors['required']">
                                *select office
                            </small>
                        </div>
                     </div>
                </div>
            <div class="form-btn row">
                <button type="button" class="btn btn-success" (click)="closeForm()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="saveUserData()">Save</button>
            </div>
        </form>
    </div>
    <!-- user-form:end -->
    <!-- user-display-list:start -->
    <div class="user-list">
        <table class="wd-100 user-table">
            <thead>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>CLIENT NAME</th>
                <th>EMAIL</th>
                <th>OFFICE</th>
                <th>CONTACT-NUMBER</th>
                <th>ACTIONS</th>
            </thead>
            <tbody>
                <tr class="user-row" *ngFor="let user of userlist |searchClient:searchId;let i =index">
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.clientname | idToName:clients}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.office|idToName:offices}}</td>
                    <td>{{user.number}}</td>
                    <td><button type="button" class="btn btn-success" (click)="editUser(user.id)">Edit</button></td>
                    <td><button type="button" class="btn" (click)="deleteUser(user.id)">Delete</button></td>
                </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
    <!-- user-display-list:end -->

</div>