.user-wraper{
    padding: 0rem 4rem;
}
.user-wraper .user-form{
    margin-top: 1.2rem;
    border: 1px solid #000001;
    padding: 1rem 2rem;
}

.user-form .user-form-input{
    width: 25%;
}
.user-form-input .user-input{
    padding: 0.3rem 1rem;
    width: 80%;
}
.user-wraper .form-btn{
    justify-content: flex-end;
}
.user-wraper  .user-table{
    margin-top: 2rem;
}
.user-form-input select{
    padding: 0.3rem 1rem;
    width: 80%;
}
.user-list .user-row{
    text-align: center;
}
.user-list .user-row:nth-child(odd){
    background-color: aliceblue;
}
.user-input{
    border: 1px solid rgb(44, 42, 42);
}
.user-input:focus-visible{
    border: 1px solid rgb(44, 42, 42);
}
.user-input.ng-dirty.ng-invalid{
    border:1px solid red;
}
.user-form-input .error{
    color: red;
}