<div></div>
<div class="main-heading bg-white d-flex align-items-center px-4">
    <h4>File Upload</h4>
</div>

<app-file-upload-presentation (filesList)="postUploadedFile($event)" [displayFileList] ="fileList"></app-file-upload-presentation>

<!-- date : start -->
<div class="p-4">
    <form>
        <label for="startDate">From:</label>
        <input type="date" class="ms-2" (change)="readStartDate($event)" min="{{startDate}}">

        <label for="endDate" class="ms-3">To:</label>
        <input type="date" class="ms-2" (change)="readEndDate($event)" max="{{endDate}}">
    </form>
</div>
<!-- date : end -->
<!-- display file filelist -->

<app-file-list-presentation  [displayFileList] ="fileList" ></app-file-list-presentation>
