<div class="main-header row align-center">
    <h2 class="title">ng Template</h2>
</div>
<label for="mode" class="mode">Display Mode:</label>
<select [(ngModel)]="mode">
  <option *ngFor="let item of modeOptions" [ngValue]="item.mode">{{item.mode}}</option>
</select>

<ng-template let-items #cardTemplate>
    <div class="card-wrapper">
        <div *ngFor="let item of items" class="card">
            <h1>{{item.header}}</h1>
            <p>{{item.content}}</p>
          </div>
    </div>
</ng-template>

  <ng-template let-items #listTemplate>  
    <ul>
      <li *ngFor="let item of items">
        <strong>{{item.header}} </strong> ( {{item.content}} )
      </li>
    </ul>
  </ng-template>


<app-item-view [itemTemplate]="template" [items]="items"></app-item-view>