
button{
    margin: 20px;
}
.my-table{
    margin-top: 20px a  ;
    
}
.my-table table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
.my-table{
    padding: 0px 100px;
}
.my-table .t-title{
    margin-bottom: 5px;
    
}
.my-form{
    width: 40%;
    margin: 0 auto;
}