<div class="dropzone " FileDragAndDrop (filesChangeEmiter)="onFileChange($event)">
  <div class="text-wrapper mt-5 d-flex flex-column align-items-center ">
    <div class="centered">
      <input type="file" name="file" id="file" class="d-none" (change)="onFileChange($any($event).target.files)"
        multiple />
      <label for="file"><span class="bg-danger text-white p-2 file">Select your file</span> or Drop it
        here!</label>
    </div>
    <button type="button" class="btn btn-primary mt-3" (click)="uploadFiles()">UploadFiles</button>
  </div>

  <div class="row fileItem mt-3 ms-5" *ngFor="let f of files; let ind = index">
    <div *ngIf="files.length" class="col-sm-12 fileItemText d-flex align-items-center">
      <span>{{ f.name }}</span><span role='button' class="text-danger ms-4 icon-cancel text-white" data-toggle="tooltip" data-placement="top" title="Remove Item"
        (click)="removeFiles(f.name)"></span>
    </div>
  </div>

</div>
<!-- display uploaded files -->