
<form [formGroup]="userForm" >
    <div class="form-group col-5">
        <label>First Name</label><br>
        <input formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="Enter your firstname">
        
            <div class="error" *ngIf="getValue['firstName'].touched || getValue['firstName'].invalid" >
                <div *ngIf="getValue['firstName'].errors && getValue['firstName'].errors['required']">firstName is required.</div>
                <div *ngIf="getValue['firstName'].errors && getValue['firstName'].errors['minlength']">firstName should be 4 character.</div>
            </div>
    </div> 
      
    <div>
        <label>last Name</label><br>
        <input type="text" name="lastName" formControlName="lastName" placeholder="last Name">
        <div class="error" *ngIf="getValue['lastName'].touched && getValue['lastName'].invalid">
            <div *ngIf="getValue['lastName'].errors && getValue['lastName'].errors['required']">lastName is required.</div>
            <div *ngIf="getValue['lastName'].errors && getValue['lastName'].errors['minlength']">lastName should be 3 character.</div>
        </div>
    </div>
    <div>
        <label>email</label><br>
        <input type="text" name="email" formControlName="email" placeholder="enter your email">
        <div class="error" *ngIf="getValue['email'].touched && getValue['email'].invalid">
            <div *ngIf="getValue['email'].errors && getValue['email'].errors['required']">email is required.</div>
            <div *ngIf="getValue['email'].errors && getValue['email'].errors['minlength']">email should be 3 character.</div>
        </div>
    </div>
    <div>
        <label>gender</label>
        <input type="radio" name="gender" formControlName="gender" value="male"><label for="male">male</label>
        <input type="radio" name="gender" formControlName="gender" value="fmale"><label for="male">male</label>

        
    </div>
    <button class="btn" type="submit" (click)="saveData()">submit</button>
</form>
