<div class="main-heading bg-white d-flex align-items-center px-4">
  <h4>Customer Registration</h4>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="form-modal rounded p-3">
        <div class="d-flex justify-content-between">
          <h2 class="text-center"></h2>
          <!-- <a (click)="onCancel()" class="text-decoration-none">&times;</a> -->
        </div>
        <form [formGroup]="customerForm">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name">
            <!-- <div *ngIf="(userFormControl.name.dirty || userFormControl.name.touched) && userFormControl.name.invalid
              || isFormSubmitted && userFormControl.name.invalid" class="p-1">
              <div *ngIf="userFormControl.name.errors?.required" class="text-danger">
                Name is required
              </div>
            </div> -->
          </div>
          <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="text" class="form-control" id="age" formControlName="age">
            <!-- <div *ngIf="(userFormControl.age.dirty || userFormControl.age.touched) && userFormControl.age.invalid
              || isFormSubmitted && userFormControl.age.invalid" class="p-1">
              <div *ngIf="userFormControl.age.errors?.required" class="text-danger">
                Age is required
              </div>
            </div> -->
          </div>
          <div class="mb-3">
            <label>email</label><br>
            <input type="text" class="user-input form-control" name="email" formControlName="email" placeholder="enter your email">
          </div>
          <div class="mb-3">
            <label for="age" class="form-label pe-4">Gender </label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Male" formControlName="gender">
              <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Female" formControlName="gender">
              <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>
            <!-- <div *ngIf="(userFormControl.gender.dirty || userFormControl.gender.touched) && userFormControl.gender.invalid
              || isFormSubmitted && userFormControl.gender.invalid" class="p-1">
              <div *ngIf="userFormControl.gender.errors?.required" class="text-danger">
                Gender is required
              </div>
            </div> -->
          </div>
          <div class="mb-3">
            <label for="age" class="form-label pe-4">Select categories</label>
            <div class="form-check form-check-inline">
              <select name="categories" id="categories" formControlName="category">
                <option value="" selected>Select Category</option>
                <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
              </select>
            </div>            
          </div>
          <button type="submit" class="btn btn-primary me-2" (click)="onSubmit()">Submit</button>
          <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        </form>
      </div>
    </div>  
  </div>
 
  </div>
  
