<div class="pb-4">
    <h2>List of Users</h2>
    <div class="d-flex justify-content-between">
      <!-- <input type="text" placeholder="Search User" [formControl]="search"> -->
      <button class="btn btn-dark" routerLink="../add">+ Add</button>
    </div>
  </div>
  
  <table class="table caption-top border">
    <thead>
      <tr>
        <th scope="col">User Id</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="align-middle" *ngFor="let item of customerList">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.gender }}</td>
        <td>
          <button class="btn btn-primary me-2" (click)="onEdit(item.id)">Edit</button>
          <button class="btn btn-danger" (click)="onDelete(item.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>