<div class="main-heading d-flex align-items-center">
    <h4>Employee Registration</h4>
</div>
<form [formGroup]="userForm" autocomplete="on" class="employee-form rounded w-100">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" formControlName="firstname" id="firstname"
                    placeholder="first Name">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" name="lastname" formControlName="lastname"
                    placeholder="last Name">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" name="email" formControlName="email"
                    placeholder="enter your email">
            </div>
        </div>
    </div>

    <div class="user-submit mt-auto pt-4">
        <button class="btn btn-primary" type="submit" (click)="saveUser()">Submit</button>
    </div>
</form>