<aside class="navbar">
    <div class="navbar-wrap">
        <h3>Angular Task</h3>
        <ul class="navbar-list">
            <li appChangeColor class="navbar-items"><a routerLink="main">Directives and pipe</a></li>
            <li appChangeColor class="navbar-items"><a routerLink="userform">Data binding</a></li>
            <li appChangeColor class="navbar-items"><a routerLink="databinding">Reactive forms</a></li>
            <li appChangeColor class="navbar-items"><a routerLink="employee">employee</a></li>
            <li appChangeColor class="navbar-items"><a routerLink="pagenot">Java Script</a></li>
        </ul>  
    </div>
</aside>