<!---created priscription : start-->
<div class="row g-4">
    <div class="col-6 border rounded px-0">
        <div class="prescription-title d-flex border-bottom p-4">
            <h6 class="mb-0 cursor-pointer">Approved Prescriptions</h6>
            <h6 class="mb-0 ms-4 cursor-pointer">Prescriptions Status</h6>
        </div>
        <div class="row p-4">
            <div class="col-8 item-details d-flex align-items-center">
                <figure class="phramacy-image mb-0">
                    <img src="../../../assets/images/img_avatar.png" alt="pharmacy iamge">
                </figure>
                <div class="overflow-hidden ps-3">
                    <h6 class="fw-bold pharmacy-name mb-0 text-truncate">
                        Diarrhea, Fever
                    </h6>
                    <p class="mb-0">DR. Virat Dube</p>
                </div>
            </div>
            <div class="col-4 pharmacy-contact text-end">
                <p class="mb-0">12:30 PM</p>
            </div>
        </div>

    </div>
    <div class="col-6 created-priscription-list">
        
    </div>
</div>

<!---created priscription : end-->
