<div class="my-table">
    <div class="t-title">
        <h3 class="t-title">list of data</h3>
        <h3 class="t-title">date:<span>{{currentDate | date:'dd/mm/yyyy'}} time:{{currentDate | date:'hh: mm:ss'}}</span>
        </h3>
    </div>

    <table>
        <thead appChangeColor>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>email</th>
                <th>body</th>
                <th>action</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let listdata of listData;let index = index; trackBy:trackByid">
                <td>
                    {{listdata.id }}
                </td>
                <td>
                    {{listdata.name | firstcap}}
                </td>
                <td>
                    {{listdata.email}}
                </td>
                <td>
                    {{listdata.country | firstcap}}
                </td>
                <td>
                    {{listdata.amount | currency:listdata.currencycode }}
                </td>
                <td>
                    <button (click)="indexClick(index)">display</button>
                </td>
            </tr>
        </tbody>


    </table>

</div>