<div class="dropzone d-flex align-items-center justify-content-center" FileDragAndDrop (filesChangeEmiter)="onFileChange($event)">
    <div class="text-wrapper">
        <div class="centered">
            <input type="file" name="file" id="file" class="d-none" (change)="onFileChange($event)" multiple />
            <label for="file"><span class="bg-danger text-white p-2">Select your file</span> or Drop it
                here!</label>
        </div>
        <div class="row fileItem" *ngFor="let f of files; let ind = index">
            <div class="col-sm-12 fileItemIconDiv" (click)="openConfirmDialog(ind)">
              <i class="fa-6x fileItemIcon"></i>
            </div>
            <div class="col-sm-12 fileItemText">
              <span>{{ f.name }}</span>
            </div>
          </div>
    </div>
</div>

<!-- display uploaded files -->



