.main-heading{
    height: 4rem;
}
.filter-active{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 0px 4px 0px $danger;
}
.cdk-drag-preview{
    // display: none;
    background-color: $white;
    width: 100%;
    box-shadow: 0px 0px 4px 0px black;  
    td{
        padding: 0.5rem 0.5rem
    }
}
.cdk-drag-placeholder {
    background-color:$secondary;
    color: $white;
    cursor: pointer;
   
  }
.cdk-drop-list-dragging{
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
