
.resume-form{
    margin: auto;
    padding: 1.5rem 0rem;
    width: 80%;
}

.form-field label{
    width: 30%;
    flex-shrink: 0;
}
.form-field .form-input{
    flex-grow: 1;
    border: 1px solid #d1d1d1;
}
.grow-1{
    flex-grow: 1;
}
//skill field
.sub-form-group .sub-title{
    width: 30%;
    .user-input{
        width: 100%;
    }
}
.sub-form-group .exp-details{
    width: 15%;
}
//eduction field
.edu-details{
    width: 45%;
    .user-input{
        width: 100%;
    }
}
//form submit button
.btn-right .save-btn{
    margin-left: 1.2rem;
}
//save button
.form-footer{
    margin-top: 3rem;
}
