.title{
    padding: 0.2rem 0 0.2rem 1rem;
    background: white;
    margin-bottom: 0.8rem;
    border-radius: 0.5rem;
}
form,.title{
    width: 70%;
    margin: auto;
    margin-bottom: 1.2rem;
}
.form-field:focus{
    border: none;
}
.form-field {
    margin: 0.25rem 0rem;
    display: flex;
}
.form-field label{
    width: 200px;
}
.form-field .form-input{
    padding:0.375rem 0.75rem;
    flex-grow: 1;
    border: 1px solid #d1d1d1;
}
.form-field .form-input:focus{
    border-color: red;
}
textarea.form-input{
    resize: unset;
}
.sub-form-group .sub-title{
    width: 30%;
}

.sub-form-group .sub-description{
    width: 70%;
}

.sub-form-group .sub-input input{
    width: 100%;
}
.sub-form-group .sub-delete{
    margin: 0rem 2rem 0rem 1.2rem;
}
.sub-title.education{
    width: 45%;
}
.sub-title.education input{
    width: 100%;
}
.form-footer {
    margin-top: 2.25rem;
} 
.form-footer .btn{
    padding:0.6rem 2rem
}
.form-footer .btn-primary{
    margin-right: 1.2rem;
}
.error{
    font-size: 1rem;
    color: red;
}
