@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "./assets/scss/base/varibale";
@import "./assets/scss/component/user.scss";

%fix-view {
    height: 100%;
    width: 100%;
}
%row {
    display: flex;
    flex-direction: row;
}
%colum {
    display: flex;
    flex-direction: column;
}
%line {
    position: relative;
    display: inline-block;
    height: 0.35rem;
    width: 2rem;
    top: 0.6rem;
    margin-bottom: 0.15rem;
    background-color: $color-secondary;
    transform: rotate(45deg);
    transition:all 0.3s ease-in-out;
}
html,
body {
    @extend %fix-view;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
.row{
    @extend %row;
}
.align-center{
    align-items: center;
}
//main-view scss
.main-wrapper {
    @extend %row;
    @extend %fix-view;
    .sidebar-wrapper {
        flex-basis: 300px;
        flex-shrink: 0;
        overflow: hidden;
        border-right: 0.1rem solid $color-primary;
        transition: all 0.5s ease-in-out;
    }
  
}
//sidebar-header css
.sidebar {
    .sidebar-header{
        padding: 0rem 1.2rem;
        @extend %row;
        .title{
            white-space: nowrap;
            margin-left: 2rem;
        }
    }
}

#toggle {
    display: none;
}

.navbar-items .nav-title {
    transform: translateX(-12px);
    transition: all 0.3s ease-in-out;
}
//sidebar css i with toggle
.sidebar {
    transition: all 0.4s ease-in-out;
    @extend %colum;
    height: 100%;
    //sidebar header
    .sidebar-header {
        @extend %row;
        align-items: center;
        border-bottom: 0.1rem solid $color-primary;
    }
    //toggle button css
    .toggle-btn {
        @extend %colum;
        align-items: flex-start;
        .line {
            @extend %line;
            &-1 {
                @extend %line;
                transform: rotate(-45deg);
                top: 0.15rem;
            }
            &-2 {
                @extend %line;
                opacity: 0;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    //navigation css
    .navbar-wrap {
        flex-grow: 1;
    }
}

//css:expand side bar
#toggle:checked ~ .sidebar-wrapper {
    flex-basis: 70px;

    .sidebar {

        .sidebar-header .title{
            visibility: hidden;
        }
        .navbar-items{
            display: flex;
            align-items: center;
            justify-content: center;

             span:first-child {
                font-size: 1.5rem;
                margin: 0rem 0rem 0rem 0.2rem;
            }
            .nav-title {
                display: inline-block;
                transform: translateX(100px);
            }
        } 
        .toggle-btn {
            
            .line {
                transform: rotate(0);
                @extend %line;
                &-1 {
                    @extend %line;
                    transform: rotate(0);
                  }
                &-2 {
                    @extend %line;
                    opacity: 1;
                    transform: rotate(0);
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
      
    }
}


//main-content css
.main-content {
    flex-grow: 1;
}
//
.navbar-list {
    padding: 0rem 1.2rem;
    .navbar-items {
        a {
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 600;
            display: inline-block;
            width: 100%;
            padding: 0.5rem 0rem;
            margin-bottom: 0.35rem;
            white-space: nowrap;
            overflow: hidden;
            border-radius: $radius-primary;

            span {
                margin: 0rem 0.4rem;
            }
        }
    }
}


//active-link css
.active-link{
    color: $color-secondary;
    background-color: #eaedfc;
}