@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import "./assets/scss/base/varibale";
@import "./assets/scss/base/global";
@import "./assets/scss/base/placeholder";
@import "./assets/scss/utilites/button";
@import "./assets/scss/component/user";
@import "./assets/scss/component/employee";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    @extend %fix-view;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

//main-view scss
.main-wrapper {
    @extend %fix-view;
    overflow: hidden;
    .sidebar {
        flex-basis: 17rem;
        height: 100%;
        flex-shrink: 0;
        overflow: hidden;
        border-right: 0.08rem solid $border-primary;
        transition: all 0.5s ease-in-out;
    }
}
//sidebar-header css
.sidebar {
    .sidebar-header {
        height: 4rem;
        padding: 0rem 1.2rem;
        .title {
            transform: translateX(0);
            color: $color-secondary;
            padding-right: 1.3rem;
            white-space: nowrap;
            @extend %transtion;
        }
    }
  
}

#toggle {
    display: none;
}

//sidebar css i with toggle
.sidebar {
    transition: all 0.4s ease-in-out;
    height: 100%;
    //sidebar header
    .sidebar-header {
        border-bottom: 0.08rem solid $border-primary;
    }
    //toggle button css
    .toggle-btn {
        align-items: flex-start;
        transform-origin: center;
        transition: all 0.3s ease-in;
        .line {
            @extend %line;
            &-1 {
                @extend %line;
            }
            &-2 {
                @extend %line;
                opacity: 1;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    //navigation css
    .navbar-wrap {
        overflow-y: auto;
        flex-grow: 1;
    }
    //nav-itmes css
    .nav-title {
        display: inline-block;
        font-size: 1.1rem;
        transform: translateX(0);
        transition: all 0.3s;
    }
}
//user profile css
.user-profile {
    padding: 1.2rem 1.2rem;
    border-bottom: 0.01rem solid $border-primary;
    .user-image {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        overflow: hidden;
        img {
            vertical-align: top;
            height: auto;
            width: 100%;
        }
        
    }
    .user-details{
        transition: all 0.3s ease-in-out;
        margin-left: 1rem;
        font-size: 0.9rem;
        a{
            text-decoration: none;
        }
        
    }
}
//css:expand side bar
#toggle:checked + .sidebar {
    flex-basis: 70px;
    .title {
        transform: translateX(4rem);
    }
    .toggle-btn {
        margin-left: 4px;
        transform: rotate(360deg);
    }
    .line {
        background-color: red;
        transform: rotate(45deg);
        @extend %boxshadow;

        &-1 {
            width: 0px;
        }
        &-2 {
            transform: rotate(-45deg);
            background-color: red;
            @extend %boxshadow;
            bottom: -6px;
        }
    }
    .nav-title {
        transform: translateX(8rem);
    }
    .user-profile{
        padding: 1.2rem 0.8rem;
    }
    .user-image{
        height: 40px;
        width: 40px;
        border-radius: $border-primary;
    }
    .user-details{
        margin-left: 1rem;
        font-size: 0.9rem;
        display: none;
        
    }
}
//hover-effect




//main-content css
.main-content {
    flex-grow: 1;
}
//
.navbar-list {
    padding: 1.4rem 1.2rem;
    .navbar-items {
        margin-bottom: 0.25rem;

        a {
            color: $color-primary;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 600;
            display: inline-block;
            width: 100%;
            padding: 0.5rem 0rem;
            white-space: nowrap;
            overflow: hidden;
            border-radius: $radius-primary;
            transition:all 0.3s ease-in-out;

            span {
                margin: 0rem 0.4rem;
            }
            &:hover{
                color: $color-secondary;
                background-color: #eaedfc ;
            }
        }
    }
}

//active-link css
.active-link {
    color: $color-secondary ;
    background-color: #eaedfc;
}

//css for main
.main-content {
    padding: 0rem 1.5rem;
}
.main-display-content {
    @extend %fix-view;
    overflow-y: auto;
}
