<table class="table">
    <thead class="bg-dark text-white">
        <tr>
            <th >id</th>
            <th>Name</th>
            <th>size</th>
            <th>type</th>
            <th>content</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let files of displayFileList ;let i = index" >
            <td>{{i+1}}</td>
           <td>{{files.name}}</td>
           <td>{{(files.size/1024/1024).toFixed(2)}}MB</td>
           <td>{{files.type}}</td>
           <td class="view-image"><img src={{files.content}} alt="upload image"></td>
        </tr>
    </tbody>
</table>
